name: CI

on:
  - push

jobs:
  qa:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: python -m pip install -U pytest black
    - name: Black
      run: black -c compute_tags.py
    - name: Tests
      run: pytest tests.y

